@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* ================Shared Style=================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Quicksand;
}
main{
    background-color: #F7F7F7;
}

.d-flex{
    display: flex;
}

.btn-one{
    font-weight: 600;
    padding: 0.6rem;
    width: 12rem;
    height: 3.13rem;
    font-size: 1.25rem;
    border-radius: 12px;
    background-color: #FEA301;
    border: none;
    color: white;
    cursor: pointer;
}
.btn-one:hover{
    filter: invert(1);
}
.text-center{
    text-align: center;
}
.heading-one{
    font-weight: 700;
    font-size: 2.88rem;
    color: #000000;
}
.des-text{
    font-weight: 400;
    font-size: 1.25rem;
    color: #111111;
}
.orange{
    color: #FEA301;
}
.sky-blue{
    color: #01ACFD;
}
.black{
    color: #111111;
}



/* ====================nav section css========================= */
header{
    background-color: #F7F7F7;
    padding: 1rem 0;
}
nav .logo-img{
    max-width: 3.9rem;
    margin-right: 1rem;
}
nav .logo-tittle{
    font-weight: 700;
    font-size: 2rem;
}
.nav-inner{
    max-width: 1158px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    align-items: center;
}
.nav-logo:hover{
    cursor: pointer;
}
.nav-link a{
    padding: 0 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}
.nav-link .nv-3{
    color: #05D4DF;
}
.nav-link .nv-4{
    color: #5D58EF;
}
.nav-link a:hover{
    color: #111111;
}

/* ======================Hero Area CSS============================= */
.hero-inner{
    max-width: 1158px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.hero-left-content{
    max-width: 40rem;
}
.hero-left-content h1{
    line-height: 3.8rem;
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
.hero-btn{
    background-color: #111111;
    margin-top: 1.5rem;
}
.hero-right-img img{
    max-width: 29.25rem;
}

/* =============Standard-Curriculum-section=========== */

.Standard-Curriculum-section{
    padding-top: 3.75rem;
    background: url(assets/bg.png);
}
.Standard-Curriculum-section-inner{
    max-width: 1158px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 5rem 0rem;
    gap: 1.8rem;
}
.Standard-Curriculum-cart{
    text-align: center;
    border-radius: 1.2rem;
    border: 1px solid #DEF5FF;
    padding: 3.2rem 2rem;
}
.Standard-Curriculum-cart img{
    max-width: 8.5rem;
}
.Standard-Curriculum-cart h3{
    font-weight: 700;
    font-size: 1.5rem;
    padding: 2rem 0;
}
.Standard-Curriculum-cart p{
    font-family: Raleway;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: justify;
    text-align-last: center;
}
.Standard-Curriculum-cart a{
    text-decoration: none;
    margin-top: 2.4rem;
    display: inline-block;
}
.sc-cart-1{
    background-image: linear-gradient(to bottom, #DEF5FF, #FFFFFF,  #FFFFFF,#FFFFFF, #FFFFFF);
    border: 1px solid #DEF5FF;
    box-shadow: inset 0px 0px 28.3px rgba(0, 0, 0, 0.05);
}
.sc-cart-2{
    background-image: linear-gradient(to bottom, #FFF4DC, #FFFFFF,  #FFFFFF,#FFFFFF, #FFFFFF);
    border: 1px solid #DEF5FF;
    box-shadow: inset 0px 0px 28.3px rgba(0, 0, 0, 0.05);
}
.sc-cart-3{
    background-image: linear-gradient(to bottom, #EEE1FF, #FFFFFF,  #FFFFFF,#FFFFFF, #FFFFFF);
    border: 1px solid #F2E8FF;
    box-shadow: inset 0px 0px 28.3px rgba(0, 0, 0, 0.05);
}
.sc-cart-1 a{
    color: #64C8FF;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}
.sc-cart-2 a{
    color: #F0AA00;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}
.sc-cart-3 a{
    color: #8700FF;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}
.Standard-Curriculum-cart a:hover{
    color: #111111;
}
.Standard-Curriculum-section-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.Standard-Curriculum-section-arrow-area{
    background-color: #FEA301;
    padding: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    margin-bottom: 3.75rem;
}
.Standard-Curriculum-section-arrow i{
    color: white;
    font-weight: 700;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.Standard-Curriculum-section-arrow span:hover{
    cursor: pointer;
    filter: invert(1);
}